openapi: 3.0.3
info:
  title: Stock Management API
  version: 1.0.0
  description: API to manage stock in specific positions, with support for creation, updating, 
               consultation and allowing hierarchical and zone organization of stock.
  termsOfService: https://example.com/terms
  contact:
    name: LogT
    email: 2019onlogistica@gmail.com
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/
servers:
  - url: https://api.stockmanagement/v1

components:
  securitySchemes:
    oauth2_scheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            stock:read: Permite leer información sobre stock.
            stock:write: Permite crear o modificar stock.

  schemas:
    Position:
      type: object
      required:
        - positionId
      properties:
        zoneId:
          type: string
          description: Zone Id.
          default: "STOCK"
        zoneType:
          type: string
          description: Zone type.
          default: "STOCK"
        positionId:
          type: string
          description: Position Id.
        positionType:
          type: string
          description: Position type.
          default: "BARCODE10"

    AmountState:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
          description: Amount of units.
        state:
          type: string
          description: State of stock.
          default: "AVAILABLE"

    StockInfo:
      type: object
      required:
        - sku
        - amountState
      properties:
        sku:
          type: string
          description: SKU.
        amountState:
          type: array
          description: Amount sku in each state.
          items:
            $ref: "#/components/schemas/AmountState"

    StockPosition:
      type: object
      required:
        - datetime
        - position
        - stockContent
      properties:
        datetime:
          type: string
          format: date-time-nanoseconds
          description: Date and time of the last update.
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{9}Z$'
          example: "2023-10-15T14:30:00.123456789Z"
        position:
          type: object
          description: Position of stock.
          $ref: "#/components/schemas/Position"
        stockContent:
          type: array
          description: Amounts of stock.
          items:
            $ref: "#/components/schemas/StockInfo"
        parentPositionHierarchy:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Position"
          description: Lista de pares zona-posición que representan la jerarquía hacia la posición actual.

    StockVariation:
      type: object
      required:
        - datetime
        - position
        - stockChanges
      properties:
        datetime:
          type: string
          format: date-time-nanoseconds
          description: Date and time the stock before generate de variation.
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{9}Z$'
          example: "2023-10-15T14:30:00.123456789Z" 
        position:
          type: object
          description: Position of stock.
          $ref: "#/components/schemas/Position"
        stockChanges:
          type: array
          description: Variation of stock (positive or negatives)
          items:
            $ref: "#components/schemas/StockInfo"
    

    StockPositionUpdate:
      type: object
      required: 
        - stockPosition
        - stockVariation
      properties:
        stockPosition:
          type: object
          description: Stock in a position.
          $ref: "#/components/schemas/StockPosition"
        stockVariation:
          type: object
          description: Variation respect stock previous.
          $ref: "#/components/schemas/StockVariation"

    ErrorData:
      type: object
      required:
        - message
      properties:
        message:
          type: string

security:
  - oauth2_scheme:
      - stock:read

paths:
  /stock/positions/{positionId}:
    post:
      summary: Add new position in stock.
      operationId: registerStockInPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StockPosition"
      responses:
        "201":
          description: Stock added.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockPositionUpdate"
        "409":
          description: Position already exists.
          content: {}
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"

    put:
      summary: Add or update position in stock.
      operationId: replaceStockInPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StockPosition"
      responses:
        "200":
          description: Stock added or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockPositionUpdate"
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"

    patch:
      summary: Partially update stock 
      operationId: updateStockInPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum: [add, update, remove]
            description: >
              Type of partially update.
              - add: increase the amount indicate in the request for all content. (sku and state)
              - update: Update the value of stock for some amounts of sku-states.
              - remove:  increase the amount indicate in the request for all content. (sku and state)

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StockPosition"
      responses:
        "200":
          description: Stock actualizado exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockPositionUpdate"
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
        
    get:
      summary: Get stock for a position. If the same id of position can exists in two or more zones you
               should filter using zone. If you don't filter all positions will be included in the response.
      operationId: getStockByPosition
      security:
        - oauth2_scheme:
            - stock:read
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
        - name: zoneId
          in: query
          required: false
          schema:
            type: string
          description: Filtrar resultados por zona (opcional).
      responses:
        "200":
          description: Stock encontrado.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StockPosition"
