openapi: 3.0.3
info:
  title: Logical Stock Management API
  version: 1.0.0
  description: API to manage stock in specific positions, with support for creation, updating, 
               consultation and allowing hierarchical and zone organization of stock.
  termsOfService: https://example.com/terms
  contact:
    name: LogT - Logitics Tech
    email: 2019onlogistica@gmail.com
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/
servers:
  - url: https://api.stockmanagement/v1

components:
  securitySchemes:
    oauth2_scheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            stock:read: Permission for reading.
            stock:write: Permission for writing. Update, delete and create stock.

  schemas:
    LsmLocationKey:
      type: object
      required:
        - id
        - leafId
        - parentId
      properties:
        id:
          type: string
          description: ID of the location.
          example: "R.Z01.P001"
        leafId:
          type: string
          description: ID of the leaf location.
          example: "P001"
        parentId:
          type: string
          description: ID of the parent location.
          example: "R.Z01"
          
    LsmLocation:
      type: object
      required:
        - node
        - subtype
        - state
      properties:
        node:
          $ref: "#/components/schemas/LsmLocationKey"
          description: Key of the location into a map of stock
        subtype:
          type: string
          description: Subtype of the location.
        state:
          type: string
          description: State of the location.
    LsmAmountState:
      type: object
      required:
        - amount
        - state
      properties:
        amount:
          type: integer
          description: Amount of units.
        state:
          type: string
          description: State of stock.
          default: "AVAILABLE"

    LsmStockInfo:
      type: object
      required:
        - sku
        - amountState
      properties:
        sku:
          type: string
          description: SKU.
        amountState:
          type: array
          description: Amount sku in each state.
          items:
            $ref: "#/components/schemas/LsmAmountState"

    LsmStockPosition:
      type: object
      required:
        - datetime
        - stockContent
      properties:
        datetime:
          type: string
          format: date-time-nanoseconds
          description: Date and time of the last update.
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{9}Z$'
          example: "2023-10-15T14:30:00.123456789Z"
        stockContent:
          type: array
          description: Amounts of stock.
          items:
            $ref: "#/components/schemas/LsmStockInfo"

    LsmOperationSave:
      type: object
      required:
        - type
        - data
      properties:
        type:
          type: string
          description: |
            Type of the operation.
            - TOTAL: replaces 100% of stock position content.
            - PARTIAL: replaces only the stock position content included in the request.
                       If the content is 0 remove this content.
          default: "TOTAL" 
          enum:
            - "TOTAL"
            - "PARTIAL"
        data:
          $ref: "#/components/schemas/LsmStockPositionWithPosition"
          description: Stock position with position.

    LsmStockPositionWithPosition:
      type: object
      required:
        - parentPosition
        - stockPosition
      properties:
        parentPosition:
          $ref: "#/components/schemas/LsmLocation"
          description: Parent position of the stock position.
        stockPosition:
          $ref: "#/components/schemas/LsmStockPosition"
          description: Stock position.

    LsmStockPositionDelta:
      type: object
      required:
        - datetime
        - positionId
        - stockDelta
      properties:
        datetime:
          type: string
          format: date-time-nanoseconds
          description: Date and time the stock generate the variation.
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{9}Z$'
          example: "2023-10-15T14:30:00.123456789Z" 
        positionId:
          type: string
          description: ID of the position that contains Stock Position
          example: "R.Z01.P001"
        stockDelta:
          type: array
          description: Delta amounts of stock.
          items:
            $ref: "#/components/schemas/LsmStockInfo"

    LsmStockPositionSetValue:
      type: object
      required:
        - datetime
        - positionId
        - stockSet
        - typeSet
      properties:
        datetime:
          type: string
          format: date-time-nanoseconds
          description: Date and time the stock generate the variation.
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{9}Z$'
          example: "2023-10-15T14:30:00.123456789Z" 
        positionId:
          type: string
          description: ID of the position that contains Stock Position
          example: "R.Z01.P001"
        stockSet:
          type: array
          description: Delta amounts of stock.
          items:
            $ref: "#/components/schemas/LsmStockInfo"
        typeSet:
          type: string
          description: |
            Type of the set.
            - COMPLETE: Set all stock position.
            - SKU: Set stock position by SKU included in the request.
            - STATE: Set stock position by state included in the request.
          default: "COMPLETE"
          enum:
            - "COMPLETE"
            - "SKU"
            - "STATE"

    LsmStockStepPath:
      type: object
      description: One position of path into the stock.
      properties:
        location:
          $ref: "#/components/schemas/LsmLocation"
          description: Path of the position that contains Stock Position
        next:
          type: array
          description: Next positions of the path.
          items:
            $ref: "#/components/schemas/LsmStockStepPath"
        leaf:
          $ref: "#/components/schemas/LsmStockPositionWithPosition"
          description: Stock position with parent position.

    LsmStockPositionMovement:
      type: object
      required:
        - positionId
        - targetParentId
      properties:
        positionId:
          type: string
          description: ID of the position that you can move
          example: "R.Z01.P001"
        targetParentId:
          type: string
          description: ID of the target parent position
          example: "R.Z02"

    LsmLocationState:
      type: string
      description: State of the location.
      enum:
        - ENABLED
        - DISABLED
        - ERROR
        - BLOCKED
        - DELETED

    ErrorData:
      type: object
      required:
        - message
      properties:
        message:
          type: string

security:
  - oauth2_scheme:
      - stock:read

paths:
  /stock/position/adjust:
    put:
      summary: Add or update n positions in stock using delta value.
      operationId: deltaUpdateInStockPositions
      security:
        - oauth2_scheme:
            - stock:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/LsmStockPositionDelta"
      responses:
        "200":
          description: Stock added or updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LsmStockPositionWithPosition"
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
  /stock/position/{positionId}:
    get:
      summary: Get stock postion by id.
      operationId: findStockPosition
      security:
        - oauth2_scheme:
          - stock:read
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
            description: ID of the position that contains Stock Position
      responses:
        "200":
          description: Find stock position by positionId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LsmStockPositionWithPosition"
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
                example:
                  message: "Invalid data provided."
    put:
      summary: Add or update position in stock using delta value.
      operationId: deltaUpdateInStockPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LsmStockPositionDelta"
      responses:
        "200":
          description: Stock added or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LsmStockPositionWithPosition"
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"

    post:
      summary: Update position in stock using final value.
      operationId: setStockPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LsmStockPositionSetValue"
      responses:
        "200":
          description: Stock added or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LsmStockPositionWithPosition"
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
    delete:
      summary: Empty stock position by positionId.
      operationId: emptyStockPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
            description: ID of the position that contains Stock Position
      responses:
        "200":
          description: Stock position emptied.
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
                example:
                  message: "Invalid data provided."

  /stock/position/move/{positionId}:
    put:
      summary: Move stock position by positionId.
      operationId: moveStockPosition
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
            description: ID of the position that contains Stock Position
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LsmStockPositionMovement"
      responses:
        "200":
          description: Stock position saved.
          content: {}
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
                example:
                  message: "Invalid data provided."

  /stock/location/{locationId}/{state}:
    put:
      summary: Update state of location.
      operationId: updateLocationState
      security:
        - oauth2_scheme:
            - stock:write
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/LsmLocationState"
        - name: state
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LsmStockPositionMovement"
      responses:
        "200":
          description: Stock position saved.
          content: {}
        "400":
          description: Data wrong.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
                example:
                  message: "Invalid data provided."