openapi: 3.0.3
info:
  title: Servicio de Stock Lógico
  version: 1.0.0
  description: API para gestionar el modelo lógico de stock en un almacén.
  termsOfService: https://example.com/terms
  contact:
    name: Equipo de Desarrollo
    url: https://example.com/contact
    email: support@example.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.stocklogical/v1

# Definición de esquemas de seguridad
components:
  securitySchemes:
    oauth2_scheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            zones:read: Permite leer información sobre zonas.
            zones:write: Permite crear o modificar zonas.
            positions:read: Permite leer información sobre posiciones.
            positions:write: Permite crear o modificar posiciones.
            stock:read: Permite leer información sobre stock.
            stock:write: Permite crear o modificar stock.
            state:change: Permite cambiar el estado de posiciones o zonas.

# Aplicación global de seguridad (opcional)
security:
  - oauth2_scheme:
      - zones:read
      - positions:read
      - stock:read

paths:
  /zones:
    post:
      summary: Crear una nueva zona
      operationId: createZone
      security:
        - oauth2_scheme:
            - zones:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
      responses:
        '201':
          description: Zona creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'

  /zones/{zoneId}:
    get:
      summary: Obtener detalles de una zona
      operationId: getZone
      security:
        - oauth2_scheme:
            - zones:read
      parameters:
        - name: zoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Zona encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'

  /positions:
    post:
      summary: Crear una nueva posición
      operationId: createPosition
      security:
        - oauth2_scheme:
            - positions:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Position'
      responses:
        '201':
          description: Posición creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'

  /positions/{positionId}:
    get:
      summary: Obtener detalles de una posición
      operationId: getPosition
      security:
        - oauth2_scheme:
            - positions:read
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Posición encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'

  /stock:
    post:
      summary: Registrar nuevo stock
      operationId: registerStock
      security:
        - oauth2_scheme:
            - stock:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stock'
      responses:
        '201':
          description: Stock registrado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stock'

  /stock/{sku}:
    get:
      summary: Obtener detalles de un SKU
      operationId: getStockBySKU
      security:
        - oauth2_scheme:
            - stock:read
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Stock encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stock'

  /change-state:
    post:
      summary: Cambiar el estado de posiciones o zonas
      operationId: changeStateopenapi: 3.0.3
info:
  title: Servicio de Stock Lógico
  version: 1.0.0
  description: API para gestionar el modelo lógico de stock en un almacén.
  termsOfService: https://example.com/terms
  contact:
    name: Equipo de Desarrollo
    url: https://example.com/contact
    email: support@example.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.stocklogical/v1

components:
  securitySchemes:
    oauth2_scheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            zones:read: Permite leer información sobre zonas.
            zones:write: Permite crear o modificar zonas.
            positions:read: Permite leer información sobre posiciones.
            positions:write: Permite crear o modificar posiciones.
            stock:read: Permite leer información sobre stock.
            stock:write: Permite crear o modificar stock.
            rules:read: Permite leer reglas globales.
            rules:write: Permite crear o modificar reglas globales.
            state:change: Permite cambiar el estado de posiciones o zonas.

security:
  - oauth2_scheme:
      - zones:read
      - positions:read
      - stock:read

paths:
  /rules:
    get:
      summary: Obtener todas las reglas globales
      operationId: listRules
      security:
        - oauth2_scheme:
            - rules:read
      responses:
        '200':
          description: Lista de reglas encontradas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rule'
    post:
      summary: Crear una nueva regla global
      operationId: createRule
      security:
        - oauth2_scheme:
            - rules:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
      responses:
        '201':
          description: Regla creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

  /rules/{ruleId}:
    get:
      summary: Obtener detalles de una regla específica
      operationId: getRule
      security:
        - oauth2_scheme:
            - rules:read
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Regla encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

  /zones:
    post:
      summary: Crear una nueva zona
      operationId: createZone
      security:
        - oauth2_scheme:
            - zones:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
      responses:
        '201':
          description: Zona creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'

  /zones/{zoneId}:
    get:
      summary: Obtener detalles de una zona
      operationId: getZone
      security:
        - oauth2_scheme:
            - zones:read
      parameters:
        - name: zoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Zona encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'

  /positions:
    post:
      summary: Crear una nueva posición
      operationId: createPosition
      security:
        - oauth2_scheme:
            - positions:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Position'
      responses:
        '201':
          description: Posición creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'

  /positions/{positionId}:
    get:
      summary: Obtener detalles de una posición
      operationId: getPosition
      security:
        - oauth2_scheme:
            - positions:read
      parameters:
        - name: positionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Posición encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'

  /stock:
    post:
      summary: Registrar nuevo stock
      operationId: registerStock
      security:
        - oauth2_scheme:
            - stock:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stock'
      responses:
        '201':
          description: Stock registrado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stock'

  /stock/{sku}:
    get:
      summary: Obtener detalles de un SKU
      operationId: getStockBySKU
      security:
        - oauth2_scheme:
            - stock:read
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Stock encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stock'

  /change-state:
    post:
      summary: Cambiar el estado de posiciones o zonas
      operationId: changeState
      security:
        - oauth2_scheme:
            - state:change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateChangeRequest'
      responses:
        '200':
          description: Estado cambiado exitosamente

components:
  schemas:
    Rule:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la regla
        resourceType:
          type: string
          description: Tipo de recurso al que se aplica la regla ("zone", "position")
        pattern:
          type: string
          description: Patrón o condición que define cuándo se aplica la regla
        result:
          type: object
          description: Resultado esperado al aplicar la regla
          properties:
            type:
              type: string
              description: Tipo asignado al recurso

    Zone:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la zona
        name:
          type: string
          description: Nombre de la zona
        type:
          type: string
          description: Tipo de la zona (por ejemplo, "almacén", "picking")

    Position:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la posición
        name:
          type: string
          description: Nombre de la posición
        type:
          type: string
          description: Tipo de la posición (por ejemplo, "estantería", "pallet")
        zoneId:
          type: string
          description: Identificador de la zona a la que pertenece
        contains:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Stock'
              - $ref: '#/components/schemas/Position'

    Stock:
      type: object
      properties:
        sku:
          type: string
          description: Identificador único del producto
        quantity:
          type: integer
          description: Cantidad disponible
        state:
          type: string
          description: Estado actual del stock
        positionId:
          type: string
          description: Identificador de la posición donde está el stock

    StateChangeRequest:
      type: object
      properties:
        targets:
          type: array
          items:
            type: string
            description: Identificadores de posiciones o zonas
        newState:
          type: string
          description: Nuevo estado a aplicar
      security:
        - oauth2_scheme:
            - state:change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateChangeRequest'
      responses:
        '200':
          description: Estado cambiado exitosamente

components:
  schemas:
    Zone:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la zona
        name:
          type: string
          description: Nombre de la zona
        type:
          type: string
          description: Tipo de la zona (por ejemplo, "almacén", "picking")
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rule'

    Position:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la posición
        name:
          type: string
          description: Nombre de la posición
        type:
          type: string
          description: Tipo de la posición (por ejemplo, "estantería", "pallet")
        zoneId:
          type: string
          description: Identificador de la zona a la que pertenece
        contains:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Stock'
              - $ref: '#/components/schemas/Position'

    Stock:
      type: object
      properties:
        sku:
          type: string
          description: Identificador único del producto
        quantity:
          type: integer
          description: Cantidad disponible
        state:
          type: string
          description: Estado actual del stock
        positionId:
          type: string
          description: Identificador de la posición donde está el stock

    Rule:
      type: object
      properties:
        ruleType:
          type: string
          description: Tipo de regla (por ejemplo, "unicidad", "formato")
        value:
          type: string
          description: Valor de la regla

    StateChangeRequest:
      type: object
      properties:
        targets:
          type: array
          items:
            type: string
            description: Identificadores de posiciones o zonas
        newState:
          type: string
          description: Nuevo estado a aplicar